body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Poppins', sans-serif;
    background-image: url(../assets/entice.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
