header {
    backdrop-filter: blur(25px);
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        width: 80px;
        height: 80px;
        margin: 50px;
        border-radius: 50%;
    }

    .navbar-toggler {
        background-color: $color-secundario;
        border: 1px solid $color-primario;
        transition: .3s;
    }

    .navbar-toggler:hover {
        background-color: $color-primario;
        border: 1px solid $color-secundario;
    }

    .nav-link {
        text-decoration: none;
        color: $color-detalle;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0 7px;
        color: $color-secundario;
        transition: .3s;
    }
    
    .nav-link:hover {
        color: $color-primario; 
        
    }
}
