.main {
    text-align: center;
    color: $color-secundario;
    padding: 50px;

    .titulo {
        font-size: 5rem;
        padding: 30px;
        text-shadow: 2px 2px $color-detalle;
    }

    .botones {
        display: flex;
        justify-content: space-evenly;
        margin-top: 200px;
    }

    .botones ul li {
        list-style-type: none;
    }
}

span {
    color: $color-primario;
}



.subtitulo {
    font-size: 2.8rem;
    text-shadow: 2px 2px $color-detalle;
    margin-top: 70px;
}




