@media (max-width: 480px) {
    header, footer {
        height: auto;
    }    

    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    .main .titulo {
        text-align: center;
        font-size: 4rem;
    }

    .main .subtitulo {
        text-align: center;
        font-size: 3rem;
    }

    .container .botones ul li {
        display: flex;
    }

    .nosotros {
        text-align: center;
    }

    .sub-nosotros, .sub-servicios, .sub-packs, .sub-contacto {
        text-align: center;
    }

    .formulario {
        width: auto;
        margin: 0 10px;
    }

    .pie-de-pagina p {
        margin-left: 10%;
        padding: 5px;
    }

    .bi {
        margin-left: 10px;
    }

    .mapa {
        width: 100%;
    }
}