.sub-servicios {
    margin-left: 20px;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 2px 2px $color-detalle;
    padding: 20px;
}

.container-servicio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .tit-servicio {
        color: $color-primario;
        font-weight: bold;
        text-shadow: 2px 2px $color-detalle;
    }

    .icono-3d {
        width: 200px;
    }
}

.container-servicio, .text-servicio {
    color: $color-secundario;
}

.servicio{
    width: 350px;
    height: 350px;
    text-align: center;
    margin: 30px;
}


.servicio .bi, .servicio-1 .bi {
    color: $color-primario;
    font-size: 7rem;
}